* {
  box-sizing: border-box;
}
body {
  background-color: rgb(105, 104, 104);
  color: white;
}
.footer {
  background-color: #293446;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 15px;
  position: fixed;
}
.kontener { 
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 57px);
}
.dropdown-item:hover {
  color: white;
}
.dropdown-menu {
  margin-left: -50px;
  z-index: 100000;
}
@media only screen and (max-width: 990px) {
  .dropdown-menu {
    margin-left: 0;
  }
}