{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/bot_status.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex flex-row">
  <div>{{monitor.status}}</div>
  {% for log in monitor.logs %}
    <div class="border border-primary w-50 h-25">
      <p>Duration: {{log.duration}}</p>
      <p>Reason: {{log.reason.detail}}</p>
    </div>
    {% endfor %}
    <div class="footer">
      Partox by bbKubek
    </div>
</div>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}