<h1>Still working on it...</h1>
<div class="card text-bg-dark shadow">
  <div class="card-body">
    <h5 class="card-title">Command Configs</h5>
    <div class="commands">
      <div class="command">
        Re-Open<br>
        <small style="font-size: 10px;">For opening closed tickets</small>
      </div>
      <div class="command">
        Close<br>
        <small style="font-size: 10px;">For closing open tickets</small>
      </div>
      <div class="command">
        Delete<br>
        <small style="font-size: 10px;">Bypass closing and delete tickets</small>
      </div>
      <div class="command">
        Add<br>
        <small style="font-size: 10px;">Add a user to a ticket</small>
      </div>
      <div class="command">
        Remove<br>
        <small style="font-size: 10px;">Remove a user from a ticket</small>
      </div>
      <div class="command">
        New<br>
        <small style="font-size: 10px;">For creating command style Tickets</small>
      </div>
    </div>
  </div>
</div>