<div class="card text-bg-dark border-0 border-top border-info shadow">
  <div class="card-body position-relative">
    <h6 class="card-title">
      General Options
    </h6>
    <div class="mb-3 mt-5">
      <label for="basic-url" class="form-label">Command Prefix</label>
      <div class="input-group">
        <input type="text" class="form-control text-bg-dark" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label">Dashboard Roles</label>
      <div class="input-group">
        <input type="text" class="form-control text-bg-dark" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
      <div class="form-text text-secondary" id="basic-addon4">Select how many roles will have access to the dashboard.</div>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label">Blacklist Roles</label>
      <div class="input-group">
        <input type="text" class="form-control text-bg-dark" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
      <div class="form-text text-secondary" id="basic-addon4">Any role you assign here won't be able to use commands or reactions.</div>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label">Global Ticket Limit</label>
      <div class="input-group">
        <input type="text" class="form-control text-bg-dark" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
      <div class="form-text text-secondary" id="basic-addon4">Global open ticket limit (Across all your panels)</div>
    </div>
  </div>
</div>