<div class="card text-bg-dark shadow">
  <div class="card-header">
    Server Info
  </div>
  <div class="card-body">
    <h6>Members: {{guild.members}}</h6>
    <h6>Bots: {{guild.bots}}</h6>
    <h6>Channels: {{guild.channels}}</h6>
    <h6>Roles: 19</h6>
    <h6>Categories: 2</h6>
  </div>
</div>
<div class="card text-bg-dark shadow">
  <div class="card-header">
    Tickets Info
  </div>
  <div class="card-body">
    Tickets created: asdf
  </div>
</div>
<div class="card text-bg-dark shadow">
  <div class="card-header">
    Giveaways Info
  </div>
  <div class="card-body">
    Giveaways created: asdf
  </div>
</div>